/* responsible page: https://www.w3schools.com/css/css_navbar_horizontal.asp */
body {
  margin: 0;
  font-family: Arial;
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

ul.sidenav li a.active {
  background-color: #af8c4cc9;
  color: green;
}

ul.sidenav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

/* Style By Jp */
header {
  background-color: rgba(0, 0, 0, 0.562);
  /*center the text*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 80px;
  height: 80px;
  float: right;
  margin: 20px;
}
h1 {
  color: #d7ceb2;
  text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
  font: 80px "BazarMedium";
  letter-spacing: 10px;
}

#code {
  font-family: "Nanum Gothic Coding", monospace;
}

.LogoApps {
  background-color: black;
}
.LogoApps img {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }

  ul.sidenav li a {
    float: left;
    padding: 15px;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}

/* tabs Menu*/
/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid rgb(160, 95, 95);
  border-top: none;
}
/*  END  tabs Menu*/
