/* responsible page: https://www.w3schools.com/css/css_navbar_horizontal.asp */
/* VARIABLES: */
:root {
  --bannerBg: #;
  --bannerText: #;
  --Nav-Bg: #f1f1f1;
  --Nav-Text: #868c7c;
  --Nav-ActiveBG: #c1b4b0;
  --Nav-ActiveText: #e4f0d0;
  --Nav-HoverBg: #555;
  --Nav-HoverText: white;
  --Tabs-Bg: #f1f1f1;
  --Tabs-ActiveText: #ccc;
  --Tabs-HoverBG: #ddd;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  margin: 0;
  font-family: Arial;
  color: #272727;
  font-size: var(--md);
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: var(--Nav-Bg);
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: var(--Nav-Text);
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
}

ul.sidenav li a.active {
  background-color: var(--Nav-ActiveBG);
  color: var(--Nav-ActiveText);
}

ul.sidenav li a:hover:not(.active) {
  background-color: var(--Nav-HoverBg);
  color: var(--Nav-HoverText);
}

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

/* tabs Menu*/

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: var(--Tabs-Bg);
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--Tabs-HoverBG);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--Tabs-ActiveText);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 15px 12px;
  border: 1px solid rgb(160, 95, 95);
  border-top: none;
}
/*  END  tabs Menu*/

/*Accordion tabs

  Tabs become responsive (accordion) at 840px
    Source on Github:
      Https://github.com/aboutwp/vanilla-tabs-js"
*/
.tabs {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
}
.tabs__nav_link {
  cursor: pointer;
  text-decoration: none;
}
.tabs__content {
  display: block;
  transition: opacity 0.2s;
}
.tabs.style__accordion,
.tabs.is__responsive {
  display: block;
}
.tabs.style__accordion .tabs__nav,
.tabs.is__responsive .tabs__nav {
  display: none;
}
.tabs.style__accordion .tabs__nav_link,
.tabs.is__responsive .tabs__nav_link,
.tabs.style__accordion .tabs__content .tabs__nav_link,
.tabs.is__responsive .tabs__content .tabs__nav_link {
  display: block;
  padding: 18px;
  margin: -18px;
}
.tabs.style__accordion .tabs__nav_link.is__active,
.tabs.is__responsive .tabs__nav_link.is__active {
  font-weight: bold;
  margin-bottom: 0;
}
.tabs.style__accordion .tabs__content,
.tabs.is__responsive .tabs__content {
  border: 1px solid #ccc;
  padding: 18px;
  background: #fff;
  margin: 0 0 15px 0 0;
  display: block;
  height: auto;
  flex: none;
  opacity: 1;
  visibility: visible;
  overflow: auto;
  width: auto;
}
.tabs.style__accordion .tabs__content_wrapper,
.tabs.is__responsive .tabs__content_wrapper {
  height: 0;
  transform: scaleY(0);
  overflow: hidden;
  transition: transform 0.2s;
  transform-origin: top left;
}
.tabs.style__accordion .tabs__content.is__active .tabs__content_wrapper,
.tabs.is__responsive .tabs__content.is__active .tabs__content_wrapper {
  height: auto;
  transform: scaleY(1);
}

/* END Accordion tabs */
/* Style By Jp */
header,
footer {
  background-color: rgba(0, 0, 0, 0.562);
  /*center the text*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 80px;
  height: 80px;
  float: right;
  margin: 20px;
}
h1 {
  color: #d7ceb2;
  text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
  font: 80px "BazarMedium";
  letter-spacing: 10px;
}
footer {
  color: #d7ceb2;
  font: 15px "BazarMedium";
  letter-spacing: 8px;
  padding: 5px;
}
#code {
  font-family: "Nanum Gothic Coding", monospace;
}

.codebox {
  border: 1px solid rgb(131, 121, 121);
  border-radius: 3%;
  background-color: #eeeeff;
  white-space: pre-line;
  padding: 10px;
  font-size: 0.9em;
  display: inline-block;
}

/*  END JP Styling*/
/*  images & videos */
figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
figure img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
figcaption {
  background-color: red;
}
.LogoApps {
  background-color: black;
}
.LogoApps img {
  width: 100%;
  max-width: 100px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* END img & vid*/

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }

  ul.sidenav li a {
    float: left;
    padding: 15px;
  }

  div.content {
    margin-left: 0;
  }
  .logo {
    width: 40px;
    height: 40px;
    float: right;
    margin: 10px;
  }
  h1 {
    font: 40px;
    letter-spacing: 7px;
  }
}

@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
  .logo {
    display: none;
  }
  h1 {
    font: 20px;
    letter-spacing: 5px;
  }
}
